<!DOCTYPE html>
<html lang="en">
<head>
    <title>Extended Players Stats</title>
</head>
<body>
    <h1>Extended Players Stats</h1>
    <p>Choose one of the example data sets.</p>
    <form method="post">
            <div>
            <label for="season">Data set</label>
            <select name="season" id="season" method="POST" action="/">
                {% for season in seasons %}
                    <option value="{{ season }}" {% if season == selected %} selected {% endif %} >{{ season }}</option>"
                {% endfor %}
            </select>
            </div>
            
    {% if stats is defined %}
        <h3>Now you can estimate the probability of team A winning over team B</h3>
            <div>
            <label for="A">Team A</label>
            <select name="PA1" id="A" method="POST" action="/">
                {% for player in players %}
                    <option value="{{ player }}" {% if player == sel_PA1 %} selected {% endif %} >{{ player }}</option>"
                {% endfor %}
            </select>
            <select name="PA2" id="A" method="POST" action="/">
                {% for player in players %}
                    <option value="{{ player }}" {% if player == sel_PA2 %} selected {% endif %} >{{ player }}</option>"
                {% endfor %}
            </select>
            </div>
            <div class="form-group">
            <label for="B">Team B</label>
            <select name="PB1" id="B" method="POST" action="/">
                {% for player in players %}
                    <option value="{{ player }}" {% if player == sel_PB1 %} selected {% endif %} >{{ player }}</option>"
                {% endfor %}
            </select>
            <select name="PB2" id="B" method="POST" action="/">
                {% for player in players %}
                    <option value="{{ player }}" {% if player == sel_PB2 %} selected {% endif %} >{{ player }}</option>"
                {% endfor %}
            </select>
            </div>
    {% endif %}
            <button type="submit">Generate extended players stats</button>
    </form>
    
    {% if win_probability is defined and win_probability >= 0 %}
    <p>Chances are {{ '{:0.1f}'.format(win_probability*100) }} % </p>
    {% endif %}
    
    {% if stats is defined %}
    <h2>Players Skills ( => computed statistical model)</h2>
    <p>Sorted by TrueSkill Rank
    <ul>
      <li>Rank is so-called 'conservative estimate' - that means the real value is probably higher)</li>
      <li>Rank = (Mean value) - 3*(Standard Deviation)</li>
    </ul>
    </p>
    <table>
    {% for line in stats %}
        <tr>
        {% for item in line%}
            <td> {{ item }} </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
        
    {% endif %}
    
    {% if matches is defined %}
    <h2>Match History ( => training data)</h2>
    <table>
    {% for match in matches %}
    {% if match.PA1 == match.PA2 %}
        <tr> <td>{{ match.PA1 }}</td> <td>{{ match.GA }} : {{ match.GB }}</td> <td>{{ match.PB1 }}</td>
    {% else %}
        <tr> <td>{{ match.PA1 }}</td> <td>{{ match.PA2 }}</td>
             <td>{{ match.GA }} : {{ match.GB }}</td>
             <td>{{ match.PB1 }}</td> <td>{{ match.PB2 }}</td>
        </tr>
    {% endif %}
    {% endfor %}
    </table>
    {% endif %}
    
</body>
</html>
